<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <title>Nutri & Vida - Menu Principal</title>
</head>

<body>
    <div class="search-bar ui segment">
        <form class="ui form">
            <div class="ui fluid action input">
                <input type="text" placeholder="Buscar Pacientes...">
                <div class="ui button">Buscar</div>
            </div>
        </form>
    </div>
    <div class="ui segment" id="pacientes">
        <h2 class="ui center aligned icon header">
            <i class="circular users icon"></i>
            Lista de Pacientes
        </h2>        
    </div>

    <!--
        *Prueba de script que trae datos por el ipcRenderer de electron,          
        *el cual surge de index.js, para generar codigo html con estos datos y 
        *agregarse al codigo html con el innerHtml. 
    -->
    <script>
        const { ipcRenderer } = require('electron');
        const paciente= document.querySelector("#pacientes");

        ipcRenderer.on('paciente:nuevo', (e, enviaInfoNuevoPaciente) => {
            const newPacientTemplate = `
                <div class='ui celled list'>
                    <div class='item' id="paciente">
                        <div class='right floated content'>
                            <button class='ui button primary'>
                                Editar
                            </button>
                            <button class='ui button negative'>
                                Borrar
                            </button>
                        </div>
                        <!--<img class="smile icon" src="../../imagenes/ejemploDibujo.jpg">-->
                        <i class="user icon"></i>
                        <div class='content'>
                            <div class='header'>
                                ${enviaInfoNuevoPaciente.nombre}&nbsp${enviaInfoNuevoPaciente.apellido}
                            </div>
                            <div class='description'>
                                DNI: ${enviaInfoNuevoPaciente.dni}
                            </div>
                        </div>
                    </div>
                </div>           
            `;
            paciente.innerHTML+=newPacientTemplate;
        });

    </script>


</body>

</html>